.home-component{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: auto;
  min-height: calc(100vh - 80px);
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  min-height: 350px;
  color: #333;
  background: aquamarine;
  font-size: 3rem;
}